.header_pic {
    margin-top: 120px;
    width: 250px;
}
.new-brand-ref {
    text-decoration: none;
    color: white;
    
}
.new-brand {
    font-weight: bold;
    color: #6b9e0d;
	font-family: 'Libre Baskerville', serif;
}
.rus-text {
    margin-top: -20px;
}
@media (max-width:750px) {
    .head-slice {
        background-image: none;
    }
    .header_pic {
        margin-top: 0 !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .new-brand-ref {
        text-align: center;
    }
    .new-brand {
        margin-left: 0px;
		text-align: center;
    }
}

.text-project {
	font-size: larger;
}

.text-project-first {
	font-size: x-large;
	color: #096c71;
}

.text-news {
	font-size: large;
}

.hlink {
	color: #6b9e0d;
}
@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-ThinCondensed.otf) format('opentype');font-weight:100;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-ExtraLightCondensed.otf) format('opentype');font-weight:200;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-LightCondensed.otf) format('opentype');font-weight:300;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-RegularCondensed.otf) format('opentype');font-weight:400;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-MediumCondensed.otf) format('opentype');font-weight:500;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-SemiBoldCondensed.otf) format('opentype');font-weight:600;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-BoldCondensed.otf) format('opentype');font-weight:700;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-ExtraBoldCondensed.otf) format('opentype');font-weight:800;font-style:normal}@font-face{font-family:Exo_Condensed;src:url(../fonts/Exo/Exo2-BlackCondensed.otf) format('opentype');font-weight:900;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-ThinExpanded.otf) format('opentype');font-weight:100;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-ExtraLightExpanded.otf) format('opentype');font-weight:200;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-LightExpanded.otf) format('opentype');font-weight:300;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-RegularExpanded.otf) format('opentype');font-weight:400;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-MediumExpanded.otf) format('opentype');font-weight:500;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-SemiBoldExpanded.otf) format('opentype');font-weight:600;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-BoldExpanded.otf) format('opentype');font-weight:700;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-ExtraBoldExpanded.otf) format('opentype');font-weight:800;font-style:normal}@font-face{font-family:Exo_Expanded;src:url(../fonts/Exo/Exo2-BlackExpanded.otf) format('opentype');font-weight:900;font-style:normal}@font-face{font-family:fa-brands;src:url(../fonts/FontAwesome/fa-brands-400.html) format('opentype');font-weight:400;font-style:normal}@font-face{font-family:fa-regular;src:url(../fonts/FontAwesome/fa-regular-400.html) format('opentype');font-weight:400;font-style:normal}@font-face{font-family:fa-solid;src:url(../fonts/FontAwesome/fa-solid-900.html) format('opentype');font-weight:400;font-style:normal}[tabindex='-1']:focus{outline:0!important}[role=button]{cursor:pointer}input[type=search]{-webkit-appearance:textfield}[role=button],a,button,input,label,select,textarea{touch-action:manipulation;margin:0}button,input{overflow:visible;text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}textarea{overflow:auto;resize:vertical}a svg,button svg{pointer-events:none}svg:not(:root){overflow:hidden}img{max-width:100%;height:auto}a{color:#fff;background-color:transparent;text-decoration-skip:ink;-webkit-text-decoration-skip:objects;transition:color .3s;text-decoration:none}a:focus,a:hover{text-decoration:underline}a:visited{text-decoration:underline}hr{box-sizing:content-box;overflow:visible}img{max-width:100%}h2,h3,h4,h5,h6{text-transform:uppercase;color:#000;max-width:100%;word-wrap:break-word}a{color:#5c5c5c}a:active,a:focus,a:hover{color:#5c5c5c}table{max-width:100%;border-collapse:collapse}table td{padding:10px 5px 10px 5px;vertical-align:middle;border:3px solid #ebebf4}table td *{margin-bottom:0;padding-bottom:0;margin-top:0;padding-top:0}iframe{max-width:100%}h1{font-size:3.5em}h2{font-size:3em}h3{font-size:24px}@media (max-width:575px){h3{font-size:18px}}@media (min-width:576px) and (max-width:767px){h3{font-size:18px}}h4{font-size:2em}h5{font-size: 4.8em;}h6{font-size:1.5em}p{font-size: larger;color:#010101;margin-bottom:0;}html{overflow-x:hidden}
/*# sourceMappingURL=../maps/default.css.map */
